@font-face {
  font-family: znikomitWebfont1;
  src: url('/fonts/ZNIKOMIT-WEBFONT_1.TTF');
}
@font-face {
  font-family: vffree72;
  src: url('/fonts/vffree72.ttf');
}
@font-face {
  font-family: alegreya;
  src: url('/fonts/alegreya-v7-latin-regular.woff2.ttf');
}
@font-face {
  font-family: horta;
  src: url('/fonts/Horta.ttf');
}
@font-face {
  font-family: shareBold;
  src: url('/fonts/ShareBold.woff2.ttf');
}
@font-face {
  font-family: KoruriExtrabold;
  src: url('/fonts/KoruriExtrabold.ttf');
}
@font-face {
  font-family: trilby;
  src: url('/fonts/TrilbyRegular.woff2.otf');
}
@font-face {
  font-family: latiniaBlack;
  src: url('/fonts/LatiniaBlack-webfont.ttf');
}
@font-face {
  font-family: MAKFreesetBold;
  src: url('/fonts/MAKFreesetBold.ttf');
}