// 样式重置

body {
  padding: 0;
  margin: 0;
  background-color: #F7F7F7;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  color: white;
}

a {
  color: #5F5F5F;
  &:hover {
    color: #000000;
  }
}

h4, h5, h6 {
  margin: 0px 0px;
}